__pycache__
example_orm.py
mysql_drivers_config.py
ORM_USAGE_GUIDE.md
quick_start_orm.py
test.py
test.sql
drop.sql
listall.sql
*.txt/*
!requirements.txt
*.json
*.pkl
*.json
*.xml
.venv/
*.csv
Local.session.sql
.vscode
# Ignore tout dans SQL_more_queries par défaut
SQL_more_queries/*
# Sauf les fichiers qui commencent par un chiffre
!SQL_more_queries/[0-9]*.sql
# Sauf le README
!SQL_more_queries/README.md